{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | {% block title %}{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'style.css'%}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
{% comment %} <nav class="navbar navbar-expand-lg navbar-dark bg-warning"> {% endcomment %}
<body >
    <nav class="navbar navbar-expand-lg bg-warning">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{%url 'home'%}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-dark" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav> 


    <div class="m container mt-3 p-4 d-flex" style="background-color: aliceblue;">
        <div class="cls">
            <div  class="title p-2 d-flex justify-content-between" style="background-color: rgb(110, 39, 210);">
                <h1 class="text-white"> Manage Mobiles</h1>
                <a href="{%url 'add'%}" class="addMob btn btn-success">Add Mobiles</a>
            </div>
            <table class="table table-striped border mt-4"> 
                <thead>
                    <tr class="text-center">
                        <th>Id</th>
                        <th>Mobiles</th>
                        <th>Price</th>
                        <th>RAM</th>
                        <th>Storage</th>
                    </tr>
                </thead>
                <tbody>
                {%for x in res%}
                <tr class="text-center">
                    <th>{{forloop.counter}}</th>
                    <th>{{x.mobiles}}</th>
                    <th>{{x.price}}</th>
                    <th>{{x.ram}}</th>
                    <th>{{x.storage}}</th>
                    <th><a class="editBtn btn btn-primary" pid={{x.id}}>Edit</a></th>
                    <th><a class="deleteBtn btn btn-danger" pid={{x.id}}>Delete</a></th>
                    <sapn><input type="hidden" class='btn btn-danger' name="edit" value ={{x.id}}></sapn>
                </tr>
                {%endfor%}
            </body>
            </table>
        </div>
        <div class="form-wrapper " >
        <div class="inner"  >
            <h1 class="text-center text-sm">Enter Mobile Details</h1>
            <form action="/main/" method="post">
                {% csrf_token %}
                <div class="name">
                    <label class='form-label' for="">Name : </label>
                    <input name='name' type="text" class="form-control" placeholder="Enter Name ..">
                </div>
                <br>
                <div class="price">
                    <label class='form-label' for="">Price : </label>
                    <input name='price' type="text" class="form-control" placeholder="Enter Price ..">
                </div>
                <br>
                <div class="ram">
                    <label class='form-label' for="">RAM : </label>
                    <input name='ram' type="text" class="form-control" placeholder="Enter RAM ..">
                </div>
                <br>
                <div class="storage">
                    <label class='form-label' for="">Storage : </label>
                    <input name='storage' type="text" class="form-control" placeholder="Enter Storage ..">
                </div>
                <br>
                <div class="button d-flex justify-content-between">
                    <button class="backBtn btn btn-danger">Back</button>
                    <button class=" saveBtn btn btn-success">Save</button>
                </div>
                <br>
            </form>
        </div>
    </div>

    <script src="{% static 'script.js'%}"></script>
</body>
</html>