<!-- {% extends "index.html" %}
{% load static %}
{% block title %} Table {% endblock title %}
{% block main %}
<div class="container mt-3 p-4" style="background-color: aliceblue;">
    <div class="cls">
        <div  class="title p-2 d-flex justify-content-between" style="background-color: rgb(40, 47, 100);">
            <h1 class="text-white"> Manage Mobiles</h1>
            <button class="btn btn-success">Add Mobiles</button>
        </div>
        <table class="table table-striped border mt-4" st> 
            <thead>
                <tr class="text-center">
                    <th>Id</th>
                    <th>Mobiles</th>
                    <th>Price</th>
                    <th>RAM</th>
                    <th>Storage</th>
                </tr>
            </thead>
            {%for x in res%}
            <tr class="text-center">
                <th>{{forloop.counter}}</th>
                <th>{{x.mobiles}}</th>
                <th>{{x.price}}</th>
                <th>{{x.ram}}</th>
                <th>{{x.storage}}</th>
                <th><button class="btn btn-primary"><span><input type="hidden" name="adding" class="btn btn-primary" value ={{x.id}}></span>Edit</button></th>
                <th><button class="btn btn-danger"><sapn><input type="hidden" class='btn btn-danger' name="edit" value ={{x.id}}></sapn>Delete</button></th>
                <sapn><input type="hidden" class='btn btn-danger' name="edit" value ={{x.id}}></sapn>
            </tr>
            {%endfor%}
        </table>
    </div>
</div>

<div class="form-wrapper form-sheet"  height:100% style="width: 100%; height: 100%; background: rgba(0,0,0,0.2)">
    <div class="inner p-4"  style="width: 100%; height: 100%;">
        <div class="name">
            <label class='form-label' for="">Name : </label>
            <input name='name' type="text" class="form-control" placeholder="Enter Mobile ..">
        </div>
        <br>
        <div class="price">
            <label class='form-label' for="">Price : </label>
            <input name='price' type="text" class="form-control" placeholder="Enter Mobile ..">
        </div>
        <br>
        <div class="ram">
            <label class='form-label' for="">RAM : </label>
            <input name='ram' type="text" class="form-control" placeholder="Enter Mobile ..">
        </div>
        <br>
        <div class="storage">
            <label class='form-label' for="">Storage : </label>
            <input name='storage' type="text" class="form-control" placeholder="Enter Mobile ..">
        </div>
        <br>
        <div class="button d-flex justify-content-between">
            <button class="btn btn-danger">Back</button>
            <button class="btn btn-success">Save</button>

        </div>
        <br>
    </div>
</div>
{% endblock main %} -->


